<ion-header>
  <ion-toolbar color="black" >
    <ion-title selfie color="mostarda"> Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label>{{user.name}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{user.email}}</ion-label>
        </ion-item>
      </ion-list>
      <div class="botao" no-shadow>
        <ion-button expand="block" fill="outline" color="mostarda" [routerLink]="['/usuarios/enderecos']">Meus Endereços</ion-button>     
        <ion-button expand="block" fill="outline" color="danger" (click)="sair()">Sair</ion-button>
    </div>
</ion-content>
