<ion-header>
    <ion-toolbar color="black" >
      <ion-title selfie color="mostarda"> appDrink </ion-title>
    </ion-toolbar>
    <ion-toolbar color="mostarda">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title color="black"> Perfil</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-list padding>
    
      <div>
        <h4><b>Bem-vindo,</b> {{user.name}}</h4>
      </div>
      <p><b>Seus dados:</b></p>
      <br>
        <ion-label><b>E-mail:</b> {{user.email}}</ion-label>

          <div class="botao" no-shadow>
            <ion-button expand="block" fill="outline" color="mostarda" [routerLink]="['/usuarios/enderecos']">Meus Endereços</ion-button>     
            <ion-button expand="block" fill="outline" color="danger" (click)="sair()">Sair</ion-button>
          </div>
</ion-content>

