<ion-header>
    <ion-toolbar color="black" >
      <ion-title selfie color="mostarda"> appDrink </ion-title>
    </ion-toolbar>
    <ion-toolbar color="medium">
      <ion-title> {{ categorias }} </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let p of produtos | async" (click)="adicionarProduto(p.key)">
        <ion-thumbnail slot="start" *ngIf="p.img">
          <img [src]="p.img" />
        </ion-thumbnail>
        <ion-label text-wrap>
          <h1>{{ p.nome }}</h1>
          <br>
          <!-- <h2>{{ p.categoriaNome }}</h2> -->
          <!-- <pre text-wrap>{{ p.descricao }}</pre> -->
          <!-- <span>{{produto.preco | currency: 'BRL'}}</span> -->
          <p class="valor"><app-valor [valor]="p.preco"></app-valor></p>
        </ion-label>
      </ion-item>
    </ion-list>

</ion-content>
