<ion-header>
    <ion-toolbar color="black" >
      <ion-title selfie color="mostarda"> appDrink </ion-title>
    </ion-toolbar>
    <ion-toolbar color="mostarda">
        <ion-buttons slot="start">
            <ion-back-button placeholder="A"></ion-back-button>
        </ion-buttons>
      <ion-title color="black"> {{ categorias }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <!-- <ion-searchbar [(ngModel)]="bebida" type="text"  (keypress)="getBebida()" placeholder="Pesquise sua bebida aqui"></ion-searchbar>  -->
    <ion-label>Filtro</ion-label>
      <ion-select (ionChange)="buscarProdutos()" [(ngModel)]="filtroSelecionado">
        <ion-select-option value="" [selected]="true">Todas</ion-select-option>
        <ion-select-option *ngFor="let produto of produtos | async" [value]="produto.key">{{ produto.preco }}
        </ion-select-option>
      </ion-select>

    <ion-list >
    <ion-item *ngFor="let produto of produtos | async" (click)="adicionarProduto(produto.key)">
        <ion-thumbnail slot="start" *ngIf="produto.img">
          <img [src]="produto.img" />
        </ion-thumbnail>
        <ion-label text-wrap>
          <h1>{{ produto.nome }}</h1>
          <br>
          <!-- <h2>{{ p.categoriaNome }}</h2> -->
          <!-- <pre text-wrap>{{ p.descricao }}</pre> -->
          <!-- <span>{{produto.preco | currency: 'BRL'}}</span> -->
          <p class="valor"><app-valor [valor]="produto.preco"></app-valor></p>
        </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
