<ion-tabs>

  <ion-tab-bar slot="bottom" color="black">
    <ion-col size="4">
    <ion-tab-button tab="categoria">
      <ion-icon name="apps" color="mostarda"></ion-icon>
      <ion-label color="mostarda">Home</ion-label>
    </ion-tab-button>
  </ion-col>
  <ion-col size="4">
    <ion-tab-button tab="pedido">
      <ion-icon name="basket" color="mostarda"></ion-icon>
      <ion-label color="mostarda">Pedidos</ion-label>
    </ion-tab-button>
  </ion-col>
  <ion-col size="4">
      <ion-tab-button tab="perfil">
        <ion-icon name="person" color="mostarda"></ion-icon>
        <ion-label color="mostarda">Perfil</ion-label>
      </ion-tab-button>
    </ion-col>
  </ion-tab-bar>

</ion-tabs>
