<ion-tabs>

  <ion-tab-bar slot="bottom" color="black">
    <ion-tab-button tab="categoria">
      <ion-icon name="apps" color="mostarda"></ion-icon>
      <ion-label color="mostarda">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="basket" color="mostarda"></ion-icon>
      <ion-label color="mostarda">Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
        <ion-icon name="person" color="mostarda"></ion-icon>
      <ion-label color="mostarda">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
