<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="mostarda">Esqueci minha senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formEsqueciSenha" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" formControlName="email" style="border-radius: 80%"></ion-input>
    </ion-item>

    <div padding>
      <ion-button color="mostarda" expand="block" type="submit">Resetar minha senha</ion-button>
    </div>
  </form>
</ion-content>