<ion-header>
    <ion-toolbar color="black" >
      <ion-title selfie color="mostarda"> appDrink </ion-title>
    </ion-toolbar>
    <ion-toolbar color="mostarda">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title color="black"> Forma de Pagamento </ion-title>
    </ion-toolbar>
</ion-header>
  
  <ion-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <!-- Grupo forma de pagamento -->
        <ion-item-group>
            <ion-item-divider color="light">
              <ion-label>
                Forma de Pagamento
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>Qual sua forma de pagamento ?</ion-label>
              <ion-select formControlName="formPagamento">
                <ion-select-option value="" [selected]="true">Opções</ion-select-option>
                <ion-select-option *ngFor="let formPagamento of formasPagamento" [value]="formPagamento.valor">{{
                  formPagamento.descricao }}</ion-select-option>
              </ion-select>
            </ion-item>
  
          <!-- se for dinheiro -->
          <ion-item *ngIf="form.value.formPagamento == 1">
            <ion-label>Troco para</ion-label>
            <ion-input type="number" step="1" formControlName="trocoPara"></ion-input>
          </ion-item>
  
          <!-- se for cartão -->
          <ion-item *ngIf="form.value.formPagamento == 2">
            <ion-label>Qual cartão</ion-label>
            <ion-select formControlName="tipoCartao">
              <ion-select-option value="" [selected]="true">- Escolha -</ion-select-option>
              <ion-select-option value="Crédito - Visa">Crédito - Visa</ion-select-option>
              <ion-select-option value="Crédito - Mastercard">Crédito - Mastercard</ion-select-option>
              <ion-select-option value="Débito - Visa">Débito - Visa</ion-select-option>
              <ion-select-option value="Débito - Mastercard">Débito - Mastercard</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item-group>
  
        <!-- Grupo endereço de entrega -->
        <ion-item-group>
            <ion-item-divider color="light">
                <ion-label>
                  Forma de Entrega
                </ion-label>
              </ion-item-divider>
              <ion-item>
                <ion-label>Como deseja receber seu pedido ?</ion-label>
                <ion-select formControlName="formEntrega">
                  <ion-select-option slot="end" value="" [selected]="true"><b>Opções</b></ion-select-option>
                  <ion-select-option *ngFor="let formEntrega of formasEntrega" [value]="formEntrega.valor">
                    {{ formEntrega.descricao }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
          
              

          <ion-item *ngIf="form.value.formEntrega == 1">
            <ion-label>
              <ion-grid>
                <ion-row align-items-center>
                  <ion-col size="9" text-wrap>
                    {{ enderecoSelecionado }}
                  </ion-col>
                  <ion-col size="3" text-right>
                    <ion-button fill="clear" color="black" (click)="selecionarEndereco()">Escolher</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-label>
          </ion-item>

          <ion-item *ngIf="form.value.formEntrega == 2">
            <ion-card>
              <ion-card-title><h3 class="center"><b>Distribuidor</b></h3></ion-card-title>
              <ion-card-content>
                <ion-row>
                  <ion-col size="4"><b><ion-icon name="pin"></ion-icon> Endereço:</b></ion-col>
                  <ion-col size="8"><u> Av. Brasil 1200 - Jd. Guanabara</u></ion-col>
                  <ion-col size="5"></ion-col><ion-col size="7"><u>Campinas - SP - Brasil</u></ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="3"><b><ion-icon name="done-all"></ion-icon> Aberto:</b></ion-col>
                  <ion-col size="9"> Terça à Quinta - 10:00 ás 21:00 hrs</ion-col>
                  <ion-col size="3"></ion-col><ion-col size="9"> Sexta à Domingo - 10:00 ás 00:00 hrs</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4"><ion-icon name="call"></ion-icon><b> Contato:</b></ion-col>
                  <ion-col size="8">(19)3225-8990</ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-item-group>
  
        <!-- Grupo produtos do pedido -->
        <ion-item-group>
          <ion-item-divider color="light">
            <ion-label>
              Pedido
            </ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let produto of produtos | async">
            <ion-label>
              <ion-grid>
                <ion-row>
                  <ion-col size="9" text-wrap>
                    {{ produto.produtoNome }}
                  </ion-col>
                  <ion-col size="3" text-right>
                    {{ produto.quantidade }}
                  </ion-col>
                </ion-row>
                <ion-row>
                <ion-col><app-valor [valor]="produto.total"></app-valor></ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  

    <ion-footer>
      <p padding-horizontal text-right>
        <b>Total do pedido: </b>
        <app-valor [valor]="total"></app-valor>
      </p>
    
      <ion-button expand="full" color="mostarda" type="submit">
        Realizar pedido
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-footer>
  </form>
</ion-content>


  