.img{
    width: 150px;
    margin-left: 6em;
}

.ion-color-black {
    --ion-color-base: var(--ion-color-black);
    --ion-color-base-rgb: var(--ion-color-black-rgb);
    --ion-color-contrast: var(--ion-color-black-contrast);
    --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
    --ion-color-shade: var(--ion-color-black-shade);
    --ion-color-tint: var(--ion-color-black-tint);
  }

  .ion-color-mostarda {
    --ion-color-base: var(--ion-color-mostarda);
    --ion-color-base-rgb: var(--ion-color-mostarda-rgb);
    --ion-color-contrast: var(--ion-color-mostarda-contrast);
    --ion-color-contrast-rgb: var(--ion-color-mostarda-contrast-rgb);
    --ion-color-shade: var(--ion-color-mostarda-shade);
    --ion-color-tint: var(--ion-color-mostarda-tint);
  }

  .align{
    text-align: center;
  }

  .valor{
    text-align: end;
    margin-bottom: 0em;
  }