<ion-header>
  <ion-toolbar color="black" >
    <ion-title selfie color="mostarda"> appDrink </ion-title>
    <ion-button slot="end" color="light" size="small" fill="outline" [routerLink]="['/sobre']"><ion-icon class="info" name="information-circle-outline" color="mostarda"></ion-icon></ion-button>
  </ion-toolbar>
  <ion-toolbar color="mostarda">
    <ion-title color="black"> Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-grid>
  <ion-row>
    <ion-item no-list *ngFor="let categoria of categorias | async" (click)="getProduto(categoria.key)">
      <ion-col size-md="4">
        <div>
        <h3>{{categoria.nome}}</h3>
          <ion-avatar class="">
            <ion-img [src]="categoria.img"></ion-img>
          </ion-avatar> 
        </div> 
      </ion-col>
    </ion-item>
  </ion-row>
</ion-grid>

<!--Lógica para perguntar se tem item ou não, se tiver aparecerá o carrinho -->  
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="carrinhoPossuiItens">
    <ion-fab-button [routerLink]="['/pedido/carrinho']" color="mostarda" size="small">
      <ion-icon name="cart" color="black" fill="outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
