<ion-header>
  <ion-toolbar>
    <ion-title selfie> Categorias </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-list >
  <ion-row>
      <ion-item *ngFor="let categoria of categorias | async">
      <ion-col size-md="3" offset-md="3">
        <h3>{{categoria.nome}}</h3>
          <ion-avatar class="">
            <ion-img [src]="categoria.img"></ion-img>
          </ion-avatar>  
      </ion-col>
    </ion-item>
          <ion-col>
            
          </ion-col>
          <ion-col >
            
          </ion-col>
  </ion-row>
  
</ion-list>

</ion-content>
