<ion-header>
  <ion-toolbar color="black" >
    <ion-title selfie color="mostarda"> appDrink </ion-title>
  </ion-toolbar>
  <ion-toolbar color="medium">
    <ion-title> Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-grid>
  <ion-row>
    <ion-item no-list *ngFor="let categoria of categorias | async" (click)="getProduto(categoria.key)">
      <ion-col size-md="4">
        <div>
        <h3>{{categoria.nome}}</h3>
          <ion-avatar class="">
            <ion-img [src]="categoria.img"></ion-img>
          </ion-avatar> 
        </div> 
      </ion-col>
    </ion-item>
  </ion-row>
</ion-grid>

</ion-content>
